.books-display-card{
    padding: 1rem;
    border: 1px solid brown;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 200px;
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: aqua;
    overflow: hidden;
}